
%block-widths {
	max-width: var(--content-width-max);
	width: calc(100% - (var(--content-mobile-margin) * 2));
	@media (min-width: 768px) { 
		width: calc(100% - (var(--content-tablet-margin) * 2));
	}
	@media (min-width: 992px) { 
		width: calc(100% - (var(--content-desktop-margin) * 2));
	}
}

.wp-block {
	@extend %block-widths;	
}

.entry-content {
	& > * {
		margin-left: auto;
		margin-right: auto;
		&:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
			@extend %block-widths;
		}
	}
}

figure.wp-block-image {
	margin-left: 0;
  margin-right: 0;
	&:not(.wp-block) {
		margin-left: auto;
		margin-right: auto;
	}
}

[class*="__inner-container"] {
	& > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
		max-width: var(--content-width-max);
		width: 100%;
	}
	& > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright) {
		margin-left: auto;
		margin-right: auto;
	}
	& > .alignfull {
		max-width: 100%;
	}
	& > .alignwide {
		width: 100%;
	}
}

.alignnone,
.aligncenter,
.alignleft,
.alignright,
.alignwide {
	margin-top: 4rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
}



/* Full */

.alignfull {
	margin-top: 4rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
	max-width: 100vw;
	position: relative;
	width: 100%;
}

/* Wide */

.alignwide {
	max-width: var(--content-wide-width-max);
	position: relative;
	width: calc(100% - var(--content-mobile-margin));
	@media (min-width: 768px) { 
		width: calc(100% - var(--content-tablet-margin));
	}
	@media (min-width: 992px) { 
		width: calc(100% - var(--content-desktop-margin));
	}
}

/* Center */

.aligncenter,
.aligncenter img {
	margin-left: auto;
	margin-right: auto;
}

/* Left and right */

.alignleft,
.alignright {
	max-width: 50%;
}

.alignleft {
	/*rtl:ignore*/
	float: left;
	margin: 0.3rem 2rem 2rem 2rem;
}

.alignright {
	/*rtl:ignore*/
	float: right;
	margin: 0.3rem 2rem 2rem 2rem;
}

[class*="wp-block"].alignfull:not(.has-background) [class*="__inner-container"] {
	& > .alignleft,
	& > p .alignleft,
	& > .wp-block-image .alignleft {
		/*rtl:ignore*/
		margin-left: 2rem;
	}
	& > .alignright
	& > p .alignright
	& > .wp-block-image .alignright {
		/*rtl:ignore*/
		margin-right: 2rem;
	}
}

/* Entry Media ------------------------------- */

.alignfull > figcaption,
.alignfull > .wp-caption-text {
	@extend %block-widths;
	margin-left: auto;
	margin-right: auto;
}
