:root {
  font-size: 10px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%type {
  font-size: 14px;
  // h1, h2, h3, h4, h5 {}
  // h1 {}
  // h2 {}
  // h3 {}
  // h4 {}
  // h5 {}
  // p, ol, ul, dl, dt, summary {}
  // ol, ul, dl {}
  // iframe {
  //   max-width: 100%;
  // }
  // img {
  //   max-width: 100%;
  //   height: auto;
  // }
  // a {
  //   &:hover {}
  // }
  // hr {}
}