@import './components/colors';
@import './components/type';
@import './components/alignment';
@import './components/gutenberg';
@import './components/article';

.edit-post-visual-editor.editor-styles-wrapper {
	@extend %type;
	@extend %wp-blocks;
	@extend %wp-blocks-admin;

	background-color: $background;
	padding-left: 20px;
	padding-right: 20px;
	.block-editor-block-list__layout.is-root-container {
		& > .wp-block[data-align="full"] {
			margin-left: -20px;
			margin-right: -20px;
		}
	}
}

.block-editor-block-list__layout {
	.wp-block {
		width: auto;
	}
}

.is-dark-theme 
.block-editor-block-list__empty-block-inserter 
.block-editor-inserter__toggle:not(:hover), 
.is-dark-theme 
.block-editor-default-block-appender 
.block-editor-inserter 
.block-editor-inserter__toggle:not(:hover) {
  color: #007cba;
}